<div class="page-header">
  <div class="container">
    <h1>"test"</h1>
  </div>
</div>

<div class="container">
  <div class="row top-row">
    <div class="col-xs-12 row end-xs">
      <a routerLink="/product" color="primary" mat-raised-button>
        <mat-icon>chevron_left</mat-icon>
        Go Back
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4">
      <!-- Student Details -->
      <form #productDetailsForm="ngForm">
        <div class="row">
          <div class="col-xs-3">
            <mat-form-field appearance="outline">
              <mat-label>Number</mat-label>
              <input type="text" matInput [ngModel]="product.number" name="number" readonly>
              <mat-error>First Name is a required field</mat-error>
            </mat-form-field>
          </div>
          <div class="col-xs-6">
            <mat-form-field appearance="outline">
              <mat-label>Type</mat-label>
              <input type="text" matInput [(ngModel)]="product.clothesType.name" name="productType" required>
              <mat-error>Last Name is a required field</mat-error>
            </mat-form-field>
          </div>
          <div class="col-xs-3">
            <mat-form-field appearance="outline">
              <mat-label>Price</mat-label>
              <input type="text" matInput [(ngModel)]="product.price" name="price" required>
              <mat-error>Last Name is a required field</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <mat-form-field appearance="outline">
              <mat-label>Description</mat-label>
              <input type="text" matInput [(ngModel)]="product.description" name="description" required>
              <mat-error>Last Name is a required field</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-9">
            <mat-form-field appearance="outline">
              <mat-label>Shear</mat-label>
              <input type="text" matInput [ngModel]="product.shear" name="shear">
            </mat-form-field>
          </div>
          <div class="col-xs-3">
            <mat-form-field appearance="outline">
              <mat-label>Size</mat-label>
              <input type="text" matInput [(ngModel)]="product.size" name="size" required>
              <mat-error>Size is a required field</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6">
            <mat-form-field appearance="outline">
              <mat-label>Invoice</mat-label>
              <input type="text" matInput [ngModel]="product.invoice.number" name="invoice">
            </mat-form-field>
          </div>
          <div class="col-xs-6">
            <mat-form-field appearance="outline">
              <mat-label>Delivery Note</mat-label>
              <input type="text" matInput [(ngModel)]="product.deliveryNote.number" name="deliveryNote">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <mat-form-field appearance="outline">
              <mat-label>Note</mat-label>
              <textarea type="test" matInput [(ngModel)]="product.note" name="note"></textarea>
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
